In [1]:
#1 Create a function that takes a boolean variable flag and returns it as a string.
#Examples
#bool_to_string(True) ➞ "True"
#bool_to_string(False) ➞ "False"

def bool_to_string(flag):
    if flag==True:
        return "True"
    elif flag==False:
        return "False"
    else:
        return None

In [2]:
bool_to_string(True)

'True'

In [3]:
bool_to_string(False)

'False'

In [4]:
bool_to_string(false)

NameError: name 'false' is not defined

In [5]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.
#Examples
#is_same_num(4, 8) ➞ False
#is_same_num(2, 2) ➞  True
#is_same_num(2, "2") ➞ False

def is_same_num(num1,num2):
    if num1==num2:
        print(True)
    else:
        print(False)

In [6]:
is_same_num(4,8)

False

In [7]:
is_same_num(2,2)

True

In [8]:
is_same_num(2,"2")

False

In [9]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise return False.
#Examples
#less_than_or_equal_to_zero(5) ➞ False
#less_than_or_equal_to_zero(0) ➞ True
#less_than_or_equal_to_zero(-2) ➞ True

def less_than_or_equal_to_zero(num1):
        if num1<=0:
            print(True)
        else:
            print(False)

In [10]:
less_than_or_equal_to_zero(0)

True

In [11]:
less_than_or_equal_to_zero(2)

False

In [12]:
less_than_or_equal_to_zero(5)

False

In [13]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, and would like to greet him slightly differently. She added a special case in her function, but she made a mistake.
#Can you help her?
#Examples
#greeting("Matt") ➞ "Hello, Matt!"
#greeting("Helen") ➞ "Hello, Helen!"
#greeting("Mubashir") ➞ "Hello, my Love!"

def greeting(name):
    if name=="Mubashir" or name=="mubashir":
        print("\"Hello, my Love!\"")
    else:
        print("\"Hello, {}!\"".format(name))

In [14]:
greeting("Matt")

"Hello, Matt!"

In [15]:
greeting("Mubashir")

"Hello, my Love!"

In [16]:
greeting("Helen")

"Hello, Helen!"

In [18]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 or if their sum is 10.
#Examples
#makes10(9, 10) ➞ True
#makes10(9, 9) ➞ False
#makes10(1, 9) ➞ True
def makes10(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False

In [19]:
 makes10(9,10)

True

In [20]:
 makes10(9,9)

False

In [21]:
 makes10(1,9)

True

In [22]:
#6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return False.
#To illustrate:
#profitable_gamble(0.2, 50, 9)
#... should yield True, since the net profit is 1 (0.2 * 50 - 9), and 1 > 0.
#Examples
#profitable_gamble(0.2, 50, 9) ➞ True
#profitable_gamble(0.9, 1, 2) ➞ False
#profitable_gamble(0.9, 3, 2) ➞ True
def profitable_gamble(prob,prize,pay):
    if prob*prize>pay:
        return True
    else:
        return False

In [23]:
profitable_gamble(0.2,50,9)

True

In [24]:
profitable_gamble(0.9,1,2)

False

In [25]:
profitable_gamble(0.9,3,2)

True

In [26]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.
#Examples
#divisible(1) ➞ False
#divisible(1000) ➞ True
#divisible(100) ➞ True

def divisible(x):
    if num%100==0:
        return True
    else:
        return False

In [27]:
divisible(1)

False

In [28]:
divisible(1000)

True

In [29]:
divisible(100)

True

In [30]:
#8 Create a function that takes two strings as arguments and return either True or False depending on whether the total number of characters in the first string is equal to the total number of characters in the second string.
#Examples
#comp("AB", "CD") ➞ True
#comp("ABC", "DE") ➞ False
#comp("hello", "edabit") ➞ False

def comp(a,b):
    if len(a)==len(b):
        return True
    else:
        return False

In [31]:
comp("AB", "CD")

True

In [32]:
comp("ABC", "DE")

False

In [33]:
comp("hello", "edabit")

False

In [34]:
#9 Given a string, return True if its length is even or False if the length is odd.
#Examples
#odd_or_even("apples") ➞ True
# The word "apples" has 6 characters.
# 6 is an even number, so the program outputs True.
#odd_or_even("pears") ➞ False
# "pears" has 5 letters, and 5 is odd.
# Therefore the program outputs False.
#odd_or_even("cherry") ➞ True

def odd_or_even(s):
    if len(s)%2==0:
        return True
    else:
        return False

In [35]:
 odd_or_even("apples")

True

In [36]:
 odd_or_even("pears")

False

In [37]:
 odd_or_even("cherry")

True

In [38]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string. If the string length is less than three characters, the front is whatever is there. Return a new string, which is three copies of the front.
#Examples
#front3("Python") ➞ "PytPytPyt"
#front3("Cucumber") ➞ "CucCucCuc"
#front3("bioshock") ➞ "biobiobio"
def front3(s):
    if len(s)<=3:
        front=s
    else:
        front=s[:3]
    return front*3

In [39]:
front3("python")

'pytpytpyt'

In [40]:
front3("cucumber")

'cuccuccuc'

In [41]:
front3("bioshock")

'biobiobio'

In [48]:
#11 Write a function that returns True if the given integer is even, and False if it's odd.

def Even(x):
    return x%2==0

In [49]:
Even(2)

True

In [50]:
Even(3)

False

In [51]:
#12 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.
#Examples
#isEvenOrOdd(3) ➞ "odd"
#isEvenOrOdd(146) ➞ "even"
#isEvenOrOdd(19) ➞ "odd"

def isEvenOrOdd(a):
    if a%2==0:
        return "even"
    else:
        return "odd"

In [52]:
isEvenOrOdd(3)

'odd'

In [53]:
isEvenOrOdd(146)

'even'

In [54]:
isEvenOrOdd(19)

'odd'

In [55]:
#13 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".
#Examples
#is_plural("changes") ➞ True
#is_plural("change") ➞ False
#is_plural("dudes") ➞ True
#is_plural("magic") ➞ False

def is_plural(s):
    if s.endswith("s"):
        return True
    else:
        return False

In [56]:
is_plural("changes")

True

In [57]:
is_plural("change")

False

In [59]:
is_plural("dudes")

True

In [60]:
is_plural("magic")

False

In [61]:
#14 Create a function that takes a string (a random name). If the last character of the name is an "n", return True, otherwise return False.
#Examples
#is_last_character_n("Aiden") ➞ True
#is_last_character_n("Piet") ➞ False
#is_last_character_n("Bert") ➞ False
#is_last_character_n("Dean") ➞ True

def is_last_character_n(s):
    if s.endswith("n"):
        return True
    else:
        return False

In [62]:
is_last_character_n("Aiden")

True

In [63]:
is_last_character_n("piet")

False

In [64]:
is_last_character_n("Bert")

False

In [65]:
is_last_character_n("Dean")

True

In [66]:
#15 The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing,
#and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in
#a bag.
#The packaging machine is running the get_container() function to retrieve the container of a product. But something is not right...
#Examples
#get_container("Bread") ➞ "bag"
#get_container("Beer") ➞ "bottle"
#get_container("Candy") ➞ "plastic"
#get_container("Cheese") ➞ None

def get_container(item):
    i=item.lower()
    if i=="bread":
        return "bag"
    elif i=="beer":
        return "bottle"
    elif i=="candy":
        return "plastic"
    else:
        return "None"

In [67]:
get_container("Bread")

'bag'

In [68]:
get_container("bread")

'bag'

In [69]:
get_container("Beer")

'bottle'

In [70]:
get_container("Candy")

'plastic'

In [72]:
get_container("Cheese")

'None'

In [73]:
#16 Create a function that returns the opposite of the given boolean, as a number.
#Examples
#flip_bool(True) ➞ 0
#flip_bool(False) ➞ 1
#flip_bool(1) ➞ 0
#flip_bool(0) ➞ 1

def flip_bool(v):
    if v==True or v==1:
        return 0
    else:
        return 1

In [75]:
flip_bool(True)

0

In [76]:
flip_bool(False)

1

In [77]:
flip_bool(1)

0

In [79]:
flip_bool(0)

1

In [80]:
#17 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and calculates the area of that shape.
#Examples
#area_shape(2, 3, "triangle") ➞ 3
#area_shape(8, 6, "parallelogram") ➞ 48
#area_shape(2.9, 1.3, "parallelogram") ➞ 3.77

def area_shape(base=1,height=1,shape="parallelogram"):
    s=shape.lower()
    if s=="triangle":
        area=(0.5*base*height)
    elif s=="parallelogram":
        area=(base*height)
    else: 
        return None
    return area

In [81]:
area_shape(2, 3, "triangle")

3.0

In [82]:
area_shape(8, 6, "parallelogram")

48

In [83]:
area_shape(2.9, 1.3, "parallelogram")

3.77

In [84]:
#18 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.
#Examples
#AND(1, 1) ➞ 1
#AND(0, 0) ➞ 0
#OR(1, 0) ➞ 1
#OR(1, 1) ➞ 1
#NOT(0) ➞ 1
#NOT(1) ➞ 0
def AND(x,y):
    if x==1 and y==1:
        return 1
    else:
        return 0

def OR(x,y):
    if x==1 or y==1:
        return 1
    else:
        return 0
def NOT(x):
    if x==1:
        return 0
    elif x==0:
        return 1

In [86]:
AND(1,1)

1

In [87]:
AND(1,0)

0

In [88]:
AND(0,0)

0

In [89]:
OR(1, 0)

1

In [90]:
OR(1, 1)

1

In [91]:
NOT(0)

1

In [92]:
NOT(1)

0

In [93]:
not(1)

False

In [94]:
not(0)

True

In [95]:
#19 A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break.
#Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.
#Examples
#should_serve_drinks(17, True) ➞ False
#should_serve_drinks(19, False) ➞ True
#should_serve_drinks(30, True) ➞ False

def should_serve_drinks(age,btime):
    if btime==True:
        return False
    else:
        if age>=18:
             return True
        else:
            return False

In [96]:
should_serve_drinks(17,True)

False

In [97]:
should_serve_drinks(19,False)

True

In [98]:
should_serve_drinks(30,True)

False

In [101]:
#20 Create a function that takes a string txt and a number n and returns the repeated string n number of times.
#If given argument txt is not a string, return Not A String !!
#Examples
#repeat_string("Mubashir", 2) ➞ "MubashirMubashir"
#repeat_string("Matt", 3) ➞ "MattMattMatt"
#repeat_string(1990, 7) ➞ "Not A String !!"
def repeat_string(text,n):
    if text==str(text):
        return text*n
    elif text!=str(text):
        return "not a string"

In [102]:
repeat_string("Mubashir",2)

'MubashirMubashir'

In [103]:
repeat_string("Matt",3)

'MattMattMatt'

In [104]:
repeat_string(1990, 7)

'not a string'

In [106]:
#22 A taxi journey costs $3 for the first kilometer travelled. However, all kilometers travelled after that will cost $2 each.
#Create a function which returns the distance that the taxi must've travelled, given the cost as a parameter.

def dis(cost):
    remaining_cost = cost - 3
    additional_kilometers = remaining_cost 
    distance = additional_kilometers + 1
    return distance

In [107]:
dis(50)

48

In [110]:
dis(112)

110

In [108]:
def journey_distance(cost):
    if cost==3:
        return 1
    else:
        return 1+((cost-3)/2)

In [111]:
journey_distance(112)

55.5

In [112]:
journey_distance(10)

4.5

In [114]:
#22 Given a list that contains the fulcrum "f", the effort "e", and the load "l", write a function that determines 
#whether or not the list shows a first class lever, second class lever, or a third class lever.
#Examples
#determine_lever(["e", "f", "l"]) ➞ "first class lever"
#determine_lever(["e", "l", "f"]) ➞ "second class lever"
#determine_lever(["f", "e", "l"]) ➞ "third class lever"

def determine_lever(l):
    if l[0]=="e" and l[1]=="f" and l[2]=="l":
        return "first class lever"
    elif l[0]=="e" and l[1]=="l" and l[2]=="f":
        return "second class lever"
    elif l[0]=="f" and l[1]=="e" and l[2]=="l":
        return "third class lever"
    else:
        return "None"

In [115]:
 determine_lever(["e", "f", "l"])

'first class lever'

In [116]:
determine_lever(["e", "l", "f"])

'second class lever'

In [118]:
determine_lever(["f", "e", "l"])

'third class lever'

In [119]:
#24 Write a function that checks whether a person can watch an MA15+ rated movie. One of the following two conditions is required for admittance:
#The person is at least 15 years old.
#They have parental supervision.
#The function accepts two parameters, age and is_supervised. Return a boolean.
#Examples
#accept_into_movie(14, True) ➞ True
#accept_into_movie(14, False) ➞ False
#accept_into_movie(16, False) ➞ True

def f2(age,super_vision):
    if age>=15 or super_vision:
        return "True"
    else:
        return "False"

In [120]:
f2(14,True)

'True'

In [121]:
f2(14,False)

'False'

In [122]:
f2(16,False)

'True'

In [123]:
f2(13,False)

'False'

In [124]:
f2(16,True)

'True'

In [129]:
#25 Create a function that returns a number, based on the string provided. Here is a list of all digits:
#String	Number
#"one"	1
#"two"	2
#"three"	3
#"four"	4
#"five"	5
#"six"	6
#"seven"	7
#"eight"	8
#"nine"	9
#"zero"	0
#Examples
#word("one") ➞ 1
#word("two") ➞ 2
#word("nine") ➞ 9
def word(num):
    x=num.lower()
    n=({"one":1,"two":2,"three":3,"four":4,"five":5,"six":6,"seven":7,"eight":8,"nine":9})
    return n[x]

In [130]:
word("one")

1

In [131]:
word("ONE")

1

In [132]:
word("two")

2

In [133]:
word("nine")

9

In [142]:
#26.Write a function that uses the ternary operator to return "yeah" if b is True, and "nope" otherwise.

def operats(b):
        return "yeah" if b else "nope"

In [143]:
operats(True)

'yeah'

In [144]:
operats(False)

'nope'

In [145]:
#27 Try finding your ancestors and offspring with code.
#Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the name of an ancestor (m/f) or descendant (m/f).
#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".
#Examples
#generation(2, "f") ➞ "granddaughter"
#generation(-3, "m") ➞ "great grandfather"
#generation(1, "f") ➞ "daughter"
#Notes
#Check the Resources tab for helpful hints.
#Generation	Male	Female
#-3	great grandfather	great grandmother
#-2	grandfather	grandmother
#-1	father	mother
#0	me!	me!
#1	son	daughter
#2	grandson	granddaughter
#3	great grandson	great granddaughter
def ancestors(num,char):
    if char=="female":
        x={-3:"great grandmother",-2:"grandmother",-1:"mother",0:"me!",1:"daughter",2:"granddaughter",3:"great granddaughter"}
        return x[num]
    elif char=="male":
        x={-3:"great grandfather",-2:"grandfather",-1:"father",0:"me!",1:"son",2:"grandson",3:"great grandson"}
        return x[num]
    else: 
        return "invalid"

In [147]:
print(ancestors(-3,"male"))
print(ancestors(-3,"female"))
print(ancestors(2,"male"))
print(ancestors(1,"female"))
print(ancestors(0,"male"))
print(ancestors(8,"trans"))

great grandfather
great grandmother
grandson
daughter
me!
invalid

In [150]:
def generation(n,s):
    g=s.lower()
    if g=="m":
        if n==0:
            return "me"
        elif n==-1:
            return "father"
        elif n==-2:
            return "grandfather"
        elif n<-2:
            return (("great "*abs(n+2))+"grandfather")
        elif n==1:
            return "son"
        elif n==2:
            return "grandson"
        elif n>2:
            return (("great "*(n-2))+"grandson")
    else:
        if n==0:
            return "me"
        elif n==-1:
            return "mother"
        elif n==-2:
            return "grandmother"
        elif n<-2:
            return (("great "*abs(n+2))+"grandmother")
        elif n==1:
            return "daughter"
        elif n==2:
            return "granddaughter"
        elif n>2:
            return (("great "*(n-2))+"granddaughter")

In [151]:
generation(-3,"male")

'great grandmother'

In [1]:
#27 Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that 
#he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition 
#spurs into action.
#Backpack Bill has an infinite inventory space, but a limited number of coins.
#Wallet Will has an infinite number of coins, but a limited inventory space.
#Create a function that returns the name of the man who can bring home the most items. The parameters are given
#as follows:
#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.
def got_more_items(Bm,Winvsp,price,size):
    Bill=Bm/price
    Will=Winvsp/size
    if Bill>Will:
        return "Bill brings more items than will"
    elif Bill<Will:
        return "Will brings more items than Bill"
    else:
        return "Tie"

In [2]:
 got_more_items(150,200,50,10)

'Will brings more items than Bill'

In [16]:
#28 Create a function that validates whether a number n is within the bounds of lower and upper. Return False
#if n is not an integer.
#Examples
#int_within_bounds(3, 1, 9) ➞ True
#int_within_bounds(6, 1, 6) ➞ False
#int_within_bounds(4.5, 3, 8) ➞ False
def int_within_bounds(x,y,z):
    if type(x)==int:
        return x>y and x<z
    else:
        return False

In [17]:
int_within_bounds(3, 1, 9)

True

In [18]:
int_within_bounds(6, 1, 6)

False

In [19]:
int_within_bounds(4.5, 3, 8)

False

In [20]:
#29 Write a function that returns the boolean True if the given number is zero, the string "positive" if the 
#number is greater than zero or the string "negative" if it's smaller than zero.

def given_no(x):
    if x==0 or x>0:
        return True
    else:
        return False

In [21]:
given_no(0)

True

In [22]:
given_no(-5)

False

In [23]:
given_no(5)

True

In [7]:
#30 Create a function that takes three numbers as arguments and returns True 
#if it's a triangle and False if not.

def is_it_triangle(s1,s2,s3):
    return s1+s2>s3 and s2+s3>s1 and s3+s1>s2

In [8]:
is_it_triangle(10,2,50)

False

In [9]:
is_it_triangle(1,1,1)

True

In [10]:
print(is_it_triangle(3, 4, 5))  # Output: True
print(is_it_triangle(1, 1, 10))  # Output: False
print(is_it_triangle(6, 8, 10))  # Output: True

True
False
True

In [12]:
#31 A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy 
#unless they're defined as falsy.
#All falsy values are as follows:
#False, None, 0, [], {},""
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.
def truthy(a):
    if a==False or a==None or a==[] or a=={}or a=="":
        return False
    else:
        return True

In [14]:
truthy(0)

False

In [15]:
truthy("check")

True

In [16]:
truthy(1)

True

In [17]:
truthy("")

False

In [18]:
truthy(lambda n:n)

True

In [19]:
def istruthy(a):
    return not(a==False or a==None or a==0 or a==[] or a=={} or a=="")

In [21]:
print(istruthy(0))
print(istruthy(1))
print(istruthy(True))
print(istruthy(False))
print(istruthy(""))
print(istruthy("Null"))
print(istruthy([]))

False
True
True
False
False
True
False

In [34]:
#32 Write a function that returns True if both numbers are:
#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False.
def both(x,y):
    if (x==0 and y==0) or ((x*y)>0): 
        return True
    else:
        return False

In [35]:
both(2,0)

False

In [36]:
both(-1,-2)

True

In [37]:
def Both_no(a,b):
    return ((a==0 and b==0) or ((a*b)>0))

In [38]:
Both_no(0,0)

True

In [41]:
Both_no(2,-1)

False

In [42]:
Both_no(-1,-2)

True

In [43]:
#33 Create a function that takes a list. This list will contain numbers represented as strings.
#Your function should split this list into two new lists. 
#The first list should contain only even numbers.The second only odd. Then, 
#wrap these two lists in one main list and return it.Return an empty list 
#if there are no even numbers, or odd.
def clean_up_list(a):
    eve=[];odd=[];lst=[]
    for x in a:
        y=int(x)
        if y%2==0:
            eve.append(y)
        else:
            odd.append(y)
    lst.append(eve)
    lst.append(odd)
    return lst

In [45]:
clean_up_list(["5"])

[[], [5]]

In [46]:
clean_up_list(["8"])

[[8], []]

In [48]:
clean_up_list(["0"])

[[0], []]

In [49]:
clean_up_list(["3"])

[[], [3]]

In [50]:
clean_up_list(["2"])

[[2], []]

In [51]:
clean_up_list(["7"])

[[], [7]]

In [52]:
clean_up_list(["2","4","7","10","13","12","11"])

[[2, 4, 10, 12], [7, 13, 11]]

In [56]:
#34 When creating variables, the variable name must always start with a letter and cannot contain spaces, though 
#numbers and underscores are allowed to be contained in it also.
#Create a function which returns True if a given variable name is valid, otherwise return False.
def variable_valid(var):
    if var[0].isalpha() and var==var.split()[0]:
        return True
    else:
        return False

In [57]:
variable_valid("Valid")

True

In [58]:
variable_valid("733MSK")

False

In [59]:
variable_valid("_Valid")

False

In [60]:
#35 In a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. 
#If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.Can you reach 
#your friend's tile number in the next roll? Create a function that returns if it's possible to earn a bonus when 
#you roll the die.
def possible_bonus(a,b):
    if a<b and b-a<=6:
        return True
    else:
        return False

In [61]:
possible_bonus(4,9)

True

In [62]:
possible_bonus(5, 3)

False

In [63]:
possible_bonus(1, 9)

False

In [64]:
#36 Create a function that takes two integers and checks if they are equal.

def is_equal(a,b):
    return a==b

In [65]:

is_equal("1", 1)

False

In [66]:

is_equal(1, 1)

True

In [68]:
is_equal(10, 11)

False

In [69]:
#37 Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num
#is 1, otherwise return "Bye" + name.
#37 Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num
#is 1, otherwise return "Bye" + name.
def say_hello_bye(name,num):
    if num==0:
        return ("Bye "+name)
    else:
        return ("Hello "+name)

In [70]:
say_hello_bye("man", 1)

'Hello man'

In [72]:
#38 Create a function that takes three number arguments — one number as an input and two additional numbers 
#representing the endpoints of a closed range — and return the number limited to this range.
#If the number falls within the range, the number should be returned.
#If the number is less than the lower limit of the range, the lower limit should be returned.
#If the number is grdef limit_number(a,l,u):
def limit_number(a,l,u):
    if a>l and a<u:
        return a
    elif a<l:
        return l
    else:
        return u

In [74]:
limit_number(15, 1, 10)

10

In [75]:
limit_number(-30, 7, 10)

7

In [76]:
limit_number(41, 1, 10)

10

In [78]:
limit_number(3.6, 1, 10)

3.6

In [79]:
#39 Write a function that takes an integer and:
#If the number is a multiple of 3, return "Hello".
#If the number is a multiple of 5, return "World".
#If the number is a multiple of both 3 and 5, return "Hello World".

def hello_world(x):
    if x%3==0 and x%5==0:
        return "Hello World"
    elif x%3==0:
        return "Hello"
    elif x%5==0:
        return "World"
    else:
        return None

In [80]:
hello_world(3)

'Hello'

In [81]:
hello_world(15)

'Hello World'

In [82]:
hello_world(5)

'World'

In [83]:
#40 Given a string and a style character, return the newly formatted string. Style characters are single letters 
#that represent the different types of formatting.
#For the purposes of this challenge, the style characters are as follows:
#"b" is for bold
#"i" is for italics
#"c" is for inline code
#"s" is for strikethrough
def md_format(s,form):
    f=form.lower()
    if f=="b":
        return "**"+s+"**"
    elif f=="i":
        return "_"+s+"_"
    elif f=="c":
        return "`"+s+"`"
    elif f=="s":
        return "~"+s+"~"
    else:
        return None

In [84]:
md_format("Bold", "b")

'**Bold**'

In [85]:
md_format("italic", "i")

'_italic_'

In [86]:
md_format("inline code", "c")

'`inline code`'

In [87]:
md_format("strikethrough", "b")

'**strikethrough**'

In [88]:
#41 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. 
#Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance 
#from the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y)
#and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#Bullseye and inner circle scores = 10 points
#Middle ring scores = 5 points
#Outer ring scores = 1 point
#Outside the target = 0 points
#We play it simple so a dart in the double or treble ring counts as usual and does not affect the segment score.
#Board and circle radius is as follows:
#Board radius and outer circle radius = 10 units
#Middle circle radius = 5 units
#Inner circle radius = 1 unit
def darts(x,y):
    r=((x**2)+(y**2))**2
    if r<=1:
        p=10
    elif r>1 and r<=5:
        p=5
    elif r>5 and r<=10:
        p=1
    else:
        p=0
    return p

In [89]:
darts(0, -0.8)

10

In [90]:
darts(2.5, 5)

0

In [91]:
darts(5,2)

0

In [96]:
darts(0,-5)

0

In [97]:
#42 Write a function that returns True if a year is a leap, otherwise return False.A year is a "leap year" if it 
#lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, 
#creating February 29.A leap year occurs every four years, and will take place if the year is a multiple of four.
#The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must
#be divisible by 400 to be a leap year.Look at the examples, and if you need help, look at the resources panel.

def leap_year(y):
    if y%4==0:
        return True
    else:
        return False

In [98]:
leap_year(2019)

False

In [105]:
leap_year(2000)

True

In [106]:
leap_year(2004)

True

In [107]:
leap_year(2024)

True

In [108]:
#43 Given a pH value, return whether that value is "alkaline" (greater than 7), "acidic" (less than 7), or
#"neutral" (7). Return "invalid" if the value given is less than 0 or greater than 14.

def PH_name(n):
    if n>7:
        return "Basic"
    elif n<7:
        return "Acidic"
    else:
        return "Neutral"

In [109]:
PH_name(7.5)

'Basic'

In [110]:
PH_name(7)

'Neutral'

In [111]:
PH_name(6)

'Acidic'

In [112]:
PH_name(6.5)

'Acidic'

In [113]:
PH_name(8.5)

'Basic'

In [114]:
#44 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine 
# whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their 
# jump height is greater than or equal to the hurdle height.
#Examples
#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True 
#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False 
#hurdle_jump([5, 4, 5, 6], 10) ➞ True 
#hurdle_jump([1, 2, 1], 1) ➞ False



def hurdle_jump(hurdle_heights,jump_heights):
    t=0;
    for x in hurdle_heights:
        if x<=jump_heights:
            t+=1 
        else:
             continue
    if t==len(hurdle_heights):
        return True
    else:
        return False

In [115]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [116]:
hurdle_jump([5, 5, 3, 4, 5], 3)

False

In [117]:
hurdle_jump([5, 4, 5, 6], 10)

True

In [118]:
hurdle_jump([1, 2, 1], 1)

False

In [119]:
#45 Create a function which returns the type of triangle, given the side lengths. Return the following values if 
#they match the criteria.
#No sides equal: "scalene"
#Two sides equal: "isosceles"
#All sides equal: "equilateral"
#Less or more than 3 sides given: "not a triangle"
    
def get_triangle_type(l):
    if len(l)==3:
        if l[0]==l[1] and l[1]==l[2]:
            return "equilateral"
        elif l[0]==l[1] or l[1]==l[2] or l[2]==l[0]:
            return "isosceles"
        else:
            return "scalene"
    else:
        return "not a triangle"

In [120]:
get_triangle_type([2, 6, 5])

'scalene'

In [121]:
get_triangle_type([4, 4, 7])

'isosceles'

In [122]:
get_triangle_type([8, 8, 8])

'equilateral'

In [123]:
get_triangle_type([3, 5, 5, 2])

'not a triangle'

In [124]:
#46 Write a function that returns True if two rooks can attack each other, and False otherwise.

def can_capture(lst):
    if lst[0][0]==lst[1][0]:
        return True
    elif lst[0][1]==lst[1][1]:
        return True
    else:
        return False

In [125]:
can_capture(["A9", "E9"])

True

In [126]:
can_capture(["A1", "B1"])

True

In [127]:
can_capture(["A1", "B2"])

False

In [128]:
#47 Given an integer n. Your task is to find how many digits this integer contains
#without using str or len methods

def sum_digits(n):
    d=0
    while n>=1:
        d+=1
        n/=10
    return d

In [129]:
sum_digits(100)

3

In [130]:
sum_digits(1000)

4

In [131]:
sum_digits(1)

1

In [132]:
#48 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only 
#identical elements.

def count_identical(lst):
    l=0
    for x in lst:
        if len(x)==1:
            l+=1
        else:
            a=x[0];b=0
            for y in range(1,len(x)):
                if a==x[y]:
                    b+=1
            if b>=1:
                l+=1
    return l

In [133]:
count_identical([[33, 33],[5],["a", "a"],[2, 2, 2],[1, 2, 2],[3, 1]])

4

In [134]:
#49 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. 
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

def month_name(num):
    year={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",\
          10:"October",11:"November",12:"December"}
    for x in year.keys():
        if x==num:
            month=year[x]
        else:
            continue
    return month

In [135]:
month_name(4)

'April'

In [136]:
#50 Create a function that takes an initial word and extracts any words that start with the same letters as
#the initial word.

def dictionary(s,lst):
    l=[]
    for x in lst:
        if x.startswith(s):
            l.append(x)
        else:
            continue
    return l

In [137]:
dictionary("bu", ["button", "breakfast", "border"])

['button']

In [138]:

dictionary("beau", ["pastry", "delicious", "name", "boring"])

[]

In [139]:
dictionary("tri", ["triplet", "tries", "trip", "piano", "tree"])

['triplet', 'tries', 'trip']

In [140]:
#51 Create a function that takes a list of strings and returns the words that are exactly four letters.

def is_four_letters(lst):
    l=[]
    for x in lst:
        if len(x)==4:
            l.append(x)
        else:
            continue
    return l

In [141]:
is_four_letters(["Tomato", "Potato", "Pair"])

['Pair']

In [142]:
is_four_letters(["Kangaroo", "Bear", "Fox"])

['Bear']

In [143]:
is_four_letters(["Ryan", "Kieran", "Jason", "Matt"])

['Ryan', 'Matt']

In [144]:
#52 Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.

def chinese_zodiac(y):
    if y%12==1:
        return "Rooster"
    elif y%12==2:
        return "Dog"
    elif y%12==3:
        return "Pig"
    elif y%12==4:
        return "Rat"
    elif y%12==5:
        return "Ox"
    elif y%12==6:
        return "Tiger"
    elif y%12==7:
        return "Rabbit"
    elif y%12==8:
        return "Dragon"
    elif y%12==9:
        return "Snake"
    elif y%12==10:
        return "Horse"
    elif y%12==11:
        return "Sheep"
    else:
        return "Monkey"

In [145]:
chinese_zodiac(1997)

'Ox'

In [146]:
chinese_zodiac(1999)

'Rabbit'

In [147]:
chinese_zodiac(2004)

'Monkey'

In [148]:
#53 Create a function that determines if the temp of the water is considered boiling or not. temp will be measured
#in Fahrenheit and Celsius.

def is_boiling(temp):
    if temp.endswith("F"):
        return int(temp[:len(temp)-1])>=212
    elif temp.endswith("C"):
        return int(temp[:len(temp)-1])>=100
    else:
        return "none"

In [149]:
is_boiling("212F")

True

In [150]:
is_boiling("100C")

True

In [151]:
is_boiling("0F")

False

In [152]:
#54 Create a function that takes two arguments of a list of numbers lst and a constant number n and returns the
#n largest numbers from the given list.

def largest_numbers(n,lst):
    lst.sort(reverse=True)
    l=[]
    for x in range(n):
        l.append(lst[x])
    return l

In [153]:
largest_numbers(2, [4, 3, 2, 1])

[4, 3]

In [154]:

largest_numbers(1, [7, 19, 4, 2])

[19]

In [155]:
largest_numbers(0, [1, 3, 4, 2])

[]

In [156]:
#55 Create a function that takes a range object r,index i,and returns a list where the first element is the number
#of elements in the range object, and the second element is the element of the range object at the given index.

def length_element(r,i):
    l=[]
    l.append(len(r))
    l.append(r[i])
    return l

In [157]:
length_element(range(2, 4), 0)

[2, 2]

In [158]:
length_element(range(12, 15, 2), 1)

[2, 14]

In [159]:
length_element(range(40, 50, 3), 2)

[4, 46]

In [160]:
#56 Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].
#Write a function that returns True if the total area of chocolate is the same for each sister.

def test_fairness(agatha,bertha):
    a=0;b=0
    for x in agatha:
        a+=x[0]*x[1]
    for x in bertha:
        b+=x[0]*x[1]
    return a==b

In [161]:
test_fairness([[1, 2], [2, 1]], [[2, 2]])

True

In [162]:
test_fairness([[1, 2], [2, 1]], [[2, 2], [4, 4]])

False

In [163]:
#57 Failed or passed an exam. First parameter is the user's score. Second parameter is the required score.

def grade_requirement(marks,requirement):
    if marks>=requirement:
        return "passed"
    else:
        return "failed"

In [164]:
grade_requirement(75,100)

'failed'

In [165]:
grade_requirement(250,75)

'passed'

In [166]:
grade_requirement(100,35)

'passed'